header{
    display: flex;
}
.color{
    background-color: #37517e;
    padding-bottom: 60px;
}
.h15{
    color: #fff;
     margin-left: 119px;
    margin-top: 26px;
    font-size: 30px;
}
.right {
    color: #fff;
    text-align: center;
    margin-left: 290px;
    word-spacing: 20px;
    font-size: 20px;
    margin-top: 31px;
}
.right a{
    color: #fff;
    text-decoration: none;

}
.right button{
    width: 119px;
    height: 29px;
    color: #fff;
    background-color: #37517e;
    border-color: rgb(70 175 225);
    border-radius: 20px;
    font-size: 15px;
}
.hero{
    align-items: center;
}
.better h2{
    color: #fff;
    margin-left: 115px;
    padding-top: 66px;
    font-size: 52px;
}
.you h2{
    margin-top: -61px;
}
.boost p{
    color: #fff;
    margin-left: 118px;
    margin-top: 17px;
    font-size: 27px;
}
.get {
    display: flex;
    margin-left: 139px;
    padding-top: 52px;
    font-size: 23px;
}
.get button{
    color: #fff;
    border-color: rgb(70 175 225);
    background-color: rgb(70 175 225);
    border-radius: 26px;
    font-size: 21px;
    width: 170px;
    height: 40px;
    padding-bottom: 4px;
}
.video a{
    color: #fff;
     margin-left: 110px;
     text-decoration: none;
    font-size: 22px;  
}
.about h1{
    color: #37517e;
    text-align: center;
    padding: 62px 0px 44px 0px;
    font-size: 31px;

}
.sit{
    display: flex;
    position: end;
}
.ipum{
    margin-left: 177px ;
    font-size: 20px;
}
.nisi{
    font-size: 20px;
    margin-left: 180px;
}
.about li{
    font-size: 17px;
    margin: 11px 0px 0px 188px;
}
.button{
    color: #5cbbe7;
    border-color: #5cbbe7;
    margin-left: 766px;
    margin-top: -10px;
    font-size: 20px;
}
.strong{
    background-color: beige;
}
.velit h2{
    margin-left: 117px;
    font-size: 36px;
}
.velit p{
    margin-left: 116px;
    padding: 16px 0px 19px;
    font-size: 27px;
    margin-right: 642x;
}
.non h3{
    margin-left: 113px;
    padding: 10px 0px 5px 0px;
    font-size: 20px;
}
.non p{
    margin-left: 114px;
    margin-right: 657px;
}
.display{
    display: flex;
}
.skills{
    margin-left: 105px;
}
.dign h2{
    margin-left: -106px;
    padding: 0px 0px 0px 0px;
    font-size: 32px;
}
.dign p{
    margin-left: -106px;
    padding: 10px 0px 0px 0px ;
    font-size: 20px;
}
.dign h4{
    margin-left: -105px;
    padding-top: 20px;
}
.dign h5{
    margin-left: 443px;;
}
.html{
    margin-left: -105px;
    width: 100%;
    background-color: #00090d21;
    padding: 5px 0px;

}
.html1{
    width: 100%;
    background-color: #37517e;
}
.css{
    margin-left: -105px;
    width: 100%;
    background-color: #00090d21;
    padding: 5px 0px;
}
.css1{
    margin-left: -105px;
     width: 85%;
    background-color: #37517e;
}
.java{
    margin-left: -105px;
    width: 100%;
    background-color: #00090d21;
    padding: 5px 0px;
}
.java1{
    width: 65%;
    background-color: #37517e;
}
.photo{
    margin-left: -105px;
    width: 100%;
    background-color: #134d6621;
    padding: 5px 0px;
}
.photo1{
    width: 50%;
    background-color: #0b3886;
}
.serve h1{
    text-align: center; 
    font-size: 32px;
    padding-bottom: 48px;   
}
.serve1 p{
    margin-left: 147px;
    margin-right: 244px;
    font-size: 18px;
}
.flex-container{
    display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px;
}
.h31{
    border: 1px solid;
    width: 20%;
    margin: 15px;
    padding: 50px 10px 10px 10px;
}
.h32{
    border: 1px solid;
    width: 20%;
    margin: 20px;
    padding: 50px 10px 10px 10px;
}
.h33{
    border: 1px solid;
    width: 20%;
    margin: 20px;
    padding: 50px 10px 10px 10px;
}
.h34{
    border: 1px solid;
    width: 20%;
    margin: 20px;
    padding: 50px 10px 10px 10px;
}
.h31 h3{
    padding-bottom: 10px;
    color: #0b3886;
}
.h32 h3{
    padding-bottom: 10px;
    color: #0b3886;
}
.h33 h3{
    padding-bottom: 10px;
    color: #0b3886;
}
.h34 h3{
    padding-bottom: 10px;
    color: #0b3886;
}
.call{
    background-color: #0b3886;
    padding: 75px 375px 75px 145px;
}
.call h3{
    color: #fff;
    font-size: 20px;
    padding: 0px 0px 12px 0px;
}
.call p{
    color: #fff;
    font-size: 15px;
    padding: 0px 0px 0px 0px;
}
.call-1 button{
    color: #fff;
    background-color:#0b3886 ;
    margin: 0px 0px 3px 998px;
    border-radius: 20px;
    border-color: #fff;
}
.port h2{
    font-size: 25px;
    text-align: center;
    padding: 15px 0px 25px 0px;
}
.port p{
    margin-left: 100px;
    margin-right: 150px;
    font-size: 20px;
}
.port1{
    margin-left: 605px;
    word-spacing: 20px;
    font-size: 20px;
    padding: 13px 0px 0px 0px;
}
.port1 a{
    text-decoration: none;
}
.team h3{
    text-align: center;
    font-size: 25px;
    padding: 15px 0px 20px 0px;
}
.team1 p{
    margin-left: 159px;
    margin-right: 120px;
}
.flex-container{
    display: flex;
    margin-left: 100px;
}
.flex-container1{
    display: flex;
    margin-left: 100px;
}
.white{
    border: 1px solid;
    margin-right: 164px;
    padding:65px 30px 65px 30px;
}
.red{
    border: 1px solid;
    margin-left: 0px;
    padding:65px 30px 65px 30px;

}
.black{
    border: 1px solid;
    margin-right: 164px;
    padding:65px 30px 65px 30px;

}
.pink{
    border: 1px solid;
    margin-left: 0px;
    padding:65px 30px 65px 30px;
}
.team h4{
    margin-left: 212px;
    font-size: 22px;
    color: #37517e;
}
.team h5{
    margin-left: 220px;
    font-size: 18px;
}
.team p{
    margin-left: 220px;
    padding-top: 10px;
}
.ico1{
    margin-left: 250px;
    padding-top: 10px;
}
.ico2{
    margin-left: 250px;
    padding-top: 10px;
}
.ico3{
    margin-left: 250px;
    padding-top: 10px;
}
.ico4{
    margin-left: 250px;
    padding-top: 10px;
}
.price h3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 25px;
color: blue;
}
.price p{
    margin-left: 150px;
    margin-right: 100px;
    font-size: 18px;
}
.free{
    border: 1px solid;
    margin-left: 60px;
    padding: 16px 55px 18px 37px;
}
.busi{
    border: 1px solid;
    margin-left: 60px;
    padding: 16px 55px 18px 37px;
}
.plan{
    border: 1px solid;
    margin-left: 60px;
    padding: 16px 55px 18px 37px;
}
.price h4{
    margin-left: 59px;
    padding: 0px 0px 10px 0px;
    font-size: 25px;
}
.price h5{
    margin-left: 43px;
    padding: 0px 0px 10px 0px;
    color: #37517e;
}
.price h6{
margin-left: ;
line-height: 30px;

}
.price button{
    margin: 70px 5px 1px 73px;
}
.asked h2{
text-align: center;
margin: 0px 0px 15px 0px;
font-size: 25px;
}
.asked p{
    margin-left: 150px;
    margin-right: 100px;
    padding-bottom: 20px;
}
.non1 h4{
    margin-left: 100px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non2 h4{
margin-left: 100px;
color: #5cbbe7;
font-size: 20px;
margin-bottom: 10px;
}
.non3 h4{
    margin-left: 100px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non4 h4{
    margin-left: 100px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non5 h4{
    margin-left: 100px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non1 p{
margin-left: 120px;
margin-right: 220px;
font-size: 18px;
padding-bottom: 10px;
}
.non2 p{
    margin-left: 120px;
    margin-right: 220px;
    font-size: 18px;
    padding-bottom: 10px;
}
.non3 p{
    margin-left: 120px;
    margin-right: 220px;
    font-size: 18px;
    padding-bottom: 10px;
}
.non4 p{
    margin-left: 120px;
    margin-right: 220px;
    font-size: 18px;
    padding-bottom: 10px;
}
.non5 p{
    margin-left: 120px;
    margin-right: 220px;
    font-size: 18px;
    padding-bottom: 10px;
}
.con h2{
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
}
.con p{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
    padding-bottom: 20px;
}
.location{
    display: flex;
    margin-left: 100px;
}
.loca1{
    border: 1px solid;
    margin-left: 100px;
    padding: 60px 30px 80px 27px;
}
.loca2{
    border: 1px solid;
    margin-left: 170px;
    padding: 60px 30px 80px 170px;
}
.loca1 h4{
    font-size: 20px;
    color: #37517e;
    padding-top: 20px;
    padding-bottom: 10px;
}


