header{
    display: flex;
}
.color{
    background-color: #37517e;
    padding-bottom: 60px;
}
.h15{
    color: #fff;
     margin-left: 119px;
    margin-top: 26px;
    font-size: 30px;
}
.right {
    color: #fff;
    text-align: center;
    margin-left: 290px;
    word-spacing: 20px;
    font-size: 20px;
    margin-top: 31px;
}
.right a{
    color: #fff;
    text-decoration: none;

}
.head{
    display: flex;
}
.right button{
    width: 119px;
    height: 39px;
    color: #fff;
    background-color: #37517e;
    border: 2px solid rgb(7, 114, 163);
    border-radius: 20px;
    font-size: 15px;
}
.hero{
    align-items: center;
}
.better h2{
    color: #fff;
    margin-left: 115px;
    padding-top: 66px;
    font-size: 52px;
}
.you h2{
    margin-top: -61px;
}
.boost p{
    color: #fff;
    margin-left: 118px;
    margin-top: 17px;
    font-size: 27px;
}
.get {
    display: flex;
    margin-left: 139px;
    padding-top: 52px;
    font-size: 23px;
}
.get button{
    color: #fff;
    border: 2px solid rgb(70 175 225);
    background-color: rgb(70 175 225);
    border-radius: 26px;
    font-size: 21px;
    width: 170px;
    height: 40px;
    padding-bottom: 4px;
}
.video a{
    color: #fff;
     margin-left: 110px;
     text-decoration: none;
    font-size: 22px;  
}
.img1 img{
    word-spacing: 20px;
    width: 103px;
    padding: 24px 59px;
}
.about{
    padding: 0px 0px 35px 0px;
}
.about h1{
    color: #37517e;
    text-align: center;
    padding: 62px 0px 44px 0px;
    font-size: 31px;

}
.about h2{

}
.about h3{
    
}

.sit{
    display: flex;
    position: end;
}
.ipum{
    margin-left: 177px ;
    font-size: 19px;
}
.ipum p{
    width: 450px;
}
.nisi{
    font-size: 20px;
    margin-left: 56px;
}
.commed{
    display: flex;
}
.about li{
    width: 413px;
    font-size: 17px;
    margin: -17px 0px 0px 193px;
    line-height: 43px;
}
.button{
    color: #5cbbe7;
    border: 2px solid #5cbbe7;
    background-color: #fff;
    margin-left: 225px;
    margin-top: 30px;
    font-size: 25px;
}
.strong{
    background-color:#f3f5fa;
    padding: 35px 0px 35px 0px;
}
.velit h2{
    margin-left: 117px;
    font-size: 36px;
    color: #0b3886;
}
.velit p{
     padding: 16px 0px 19px;
    font-size: 20px;
    margin: 0px 672px 0px 117px;
}
.dolor1{
border: 1px solid;
background-color: #fff;
margin: 0px 692px 0px 115px;
margin-bottom: 20px;
border-color: #fff;
}
.dolor2{
    border: 1px solid;
    background-color: #fff;
    margin: 0px 692px 0px 115px;
    margin-bottom: 20px;
    border-color: #fff;
}
.dolor3{
    border: 1px solid;
    background-color: #fff;
    margin: 0px 692px 0px 115px;
    margin-bottom: 20px;
    border-color: #fff;
}
.non h3{
    margin-left: 70px;
    padding: 10px 0px 5px 0px;
    font-size: 20px;
    color: #47b2e4;
}
.non p{
    margin-left: 72px;
    margin-right: 75px;
}
.display{
    display: flex;
    padding: 35px 0px 35px 0px;
}
.skills{
    margin-left: 105px;
}
.dign h2{
    margin-left: -106px;
    padding: 0px 0px 0px 0px;
    font-size: 32px;
    color: #0b3886;
}
.dign p{
    margin-left: -106px;
    padding: 10px 0px 0px 0px ;
    font-size: 20px;
}
.dign h4{
    margin-left: -105px;
    padding-top: 20px;
}
.dign h5{
    margin-left: 443px;;
}
.html{
    margin-left: -105px;
    width: 100%;
    background-color: #00090d21;
    

}
.html1{
    width: 100%;
    background-color: #37517e;
    padding: 5px 0px 5px 0px;
}
.css{
    margin-left: -105px;
    width: 100%;
    background-color: #00090d21;
}
.css1{
     width: 85%;
     background-color: #37517e;
     padding: 5px 0px 5px 0px;
}
.java{
    margin-left: -105px;
    width: 100%;
    background-color: #00090d21;
}
.java1{
    width: 65%;
    background-color: #37517e;
    padding: 5px 0px 5px 0px;
}
.photo{
    margin-left: -105px;
    width: 100%;
    background-color: #134d6621;
}
.photo1{
    width: 50%;
    background-color:  #37517e;
    padding: 5px 0px 5px 0px;
}
.serve{
    background-color:#f3f5fa;
    padding: 15px 0px 0px 0px;
}
.serve h1{
    text-align: center; 
    font-size: 32px;
    padding-bottom: 48px; 
    color: #0b3886;  
}
.serve1 p{
    margin-left: 147px;
    margin-right: 244px;
    font-size: 18px;
}
.flex-container{
    display: flex;
  flex-wrap: nowrap;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 10px;
}
.h31{
    border: 1px solid;
    width: 20%;
    margin: 15px;
    padding: 90px 10px 60px 0px;
    background-color: #fff;
}
.h32{
    border: 1px solid;
    width: 20%;
    margin: 20px;
    padding: 90px 10px 60px 10px;
    background-color: #fff;
}
.h33{
    border: 1px solid;
    width: 20%;
    margin: 20px;
    padding: 90px 10px 60px 10px;
    background-color: #fff;
}
.h34{
    border: 1px solid;
    width: 20%;
    margin: 20px;
    padding: 90px 10px 60px 10px;
    background-color: #fff;
}
.h31 h3{
    padding-bottom: 10px;
    color: #0b3886;
    margin-left: 15px;
}
.h32 h3{
    padding-bottom: 10px;
    color: #0b3886;
    margin-left: 15px;
}
.h33 h3{
    padding-bottom: 10px;
    color: #0b3886;
    margin-left: 15px;
}
.h34 h3{
    padding-bottom: 10px;
    color: #0b3886;
    margin-left: 15px;
}
.flex-container p{
    margin-left: 15px;
}
.call{
   background-color: #0b3886;
    padding: 150px 0px 150px 0px;
}
.call h3{
     color: #fff;
    font-size: 30px;
    margin:-50px 0px 10px 100px;
}
.call3{
    display: flex;
}
.call3 p{
    color: #fff;
    font-size: 20px;
    margin: 0px 150px 0px 100px;
}
.call-1 button{
    color: #fff;
    margin-right: 110px;
    width: 180px;
    font-size: 20px;
    background-color:#0b3886 ;
    padding: 10px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid #fff;
}
.port h2{
    font-size: 25px;
    text-align: center;
    padding: 15px 0px 25px 0px;
    color: #0b3886;
}
.port p{
    margin-left: 100px;
    margin-right: 150px;
    font-size: 20px;
}
.port1{
    margin-left: 605px;
    word-spacing: 20px;
    font-size: 20px;
    padding: 13px 0px 0px 0px;
}
.port1 a{
    text-decoration: none;
}
.imgport1{
display: flex;
}
.imgport2{
    display: flex;
}
.imgport3{
    display: flex;
}
.folio1{
    width: 30%;
    height: 15%;
    padding: 42px 0px 25px 40px;
}
.folio2{
    width: 30%;
    height: 10%;
    padding: 43px 0px 0px 30px;
}
.folio3{
    width: 30%;
    height: 10%;
    padding: 43px 0px 0px 34px;
}
.folio4{
    margin-top: -172px;
    width: 30%;
    height: 10%;
    padding: 0px 0px 0px 34px;
}
.folio5{
    width: 30%;
    height: 25%;
    padding: 0px 0px 0px 34px;
    margin-top: -130px;
}
.folio6{
    width: 30%;
    height: 20%;
    padding: 0px 0px 0px 40px
}
.folio7{
    width: 30%;
    height: 10%;
    margin: -97px 0px 0px 482px;
}
.folio8{
    width: 30%;
    height: 20%;
    margin: -470px 0px 0px 34px;
}
.folio9{
    width: 30%;
    height: 10%;
    margin: -180px 0px 0px -405px;
}
.team{
    background-color: #f3f5fa;
    padding: 15px 0px 35px 0px;
}
.team h3{
    text-align: center;
    font-size: 25px;
    padding: 15px 0px 20px 0px;
    color: #0b3886;
}
.team1 p{
    margin-left: 159px;
    margin-right: 120px;
}
.flex-container{
    display: flex;
    margin-left: 100px;
}
.flex-container1{
    display: flex;
    margin-left: 100px;
    padding: 50px 0px 0px 0px
}
.white{
    border: 1px solid;
    margin-right: 164px;
    padding:65px 30px 65px 30px;
    background-color: #fff;
}
.red{
    border: 1px solid;
    margin-left: 0px;
    padding:65px 30px 65px 30px;
    background-color: #fff;
}
.black{
    border: 1px solid;
    margin-right: 164px;
    padding:65px 30px 65px 30px;
    background-color: #fff;
}
.pink{
    border: 1px solid;
    margin-left: 0px;
    padding:65px 30px 65px 30px;
    background-color: #fff;
}
.team h4{
    margin-left: 212px;
    font-size: 22px;
    color: #37517e;
}
.team h5{
    margin-left: 220px;
    font-size: 18px;
}
.team p{
    margin-left: 220px;
    padding-top: 10px;
}
.ico1{
    margin-left: 250px;
    padding-top: 10px;
}
.ico2{
    margin-left: 250px;
    padding-top: 10px;
}
.ico3{
    margin-left: 250px;
    padding-top: 10px;
}
.ico4{
    margin-left: 250px;
    padding-top: 10px;
}
.price h3{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 30px;
    font-size: 25px;
color: blue;
}
.price p{
    margin-left: 150px;
    margin-right: 100px;
    font-size: 18px;
}
.flex-container0{
    display: flex;
    padding: 80px 0px 50px 0px;
}
.free{
    border: 1px solid;
    margin-left: 60px;
    padding: 16px 55px 18px 37px;
}
.busi{
    border: 1px solid;
    margin-left: 60px;
    padding: 16px 55px 18px 37px;
}
.plan{
    border: 1px solid;
    margin-left: 60px;
    padding: 16px 55px 18px 37px;
    margin-right: ;
}
.price h4{
    margin-left: 59px;
    padding: 0px 0px 10px 0px;
    font-size: 25px;
}
.price h5{
    margin-left: 43px;
    padding: 0px 0px 10px 0px;
    color: #37517e;
}
.price h6{
margin-left: ;
line-height: 30px;

}
.price button {
    margin: 70px 5px 1px 73px;
    font-size: 17px;
    border-radius: 20px;
    padding: 5px 10px 5px 10px;
    background-color: #fff;
    color: #0b3886;
    border-color: #0b3886;
}
.asked1{
    background-color:#f3f5fa;
    padding-bottom: 35px;
    padding-top: 35px;
}
.asked h2{
text-align: center;
margin: 0px 0px 15px 0px;
font-size: 25px;
color: #47b2e4;
}
.asked p{
    margin-left: 150px;
    margin-right: 100px;
    padding-bottom: 20px;
}
.non1{
border: 1px solid;
margin: 0px 242px 20px 200px;
background-color: #fff;
border-color: #fff;

}
.non2{
    border: 1px solid;
    margin: 0px 242px 20px 200px;
    background-color: #fff;
    border-color: #fff;
}
.non3{
    border: 1px solid;
    margin: 0px 242px 20px 200px;
    background-color: #fff;
    border-color: #fff;
}
.non4{
    border: 1px solid;
    margin: 0px 242px 20px 200px;
    background-color: #fff;
    border-color: #fff;
}
.non5{
    border: 1px solid;
    margin: 0px 242px 20px 200px;
    background-color: #fff;
    border-color: #fff;
}
.non1 h4{
    margin-left: 15px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non2 h4{
margin-left: 15px;
color: #5cbbe7;
font-size: 20px;
margin-bottom: 10px;
}
.non3 h4{
    margin-left: 15px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non4 h4{
    margin-left: 15px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non5 h4{
    margin-left: 15px;
    color: #5cbbe7;
    font-size: 20px;
    margin-bottom: 10px;
}
.non1 p{
margin-left: 25px;
margin-right: 100px;
font-size: 18px;
padding-bottom: 10px;
}
.non2 p{
    margin-left: 25px;
    margin-right: 100px;
    font-size: 18px;
    padding-bottom: 10px;
}
.non3 p{
    margin-left: 25px;
    margin-right: 100px;
    font-size: 18px;
    padding-bottom: 10px;
}
.non4 p{
    margin-left: 25px;
    margin-right: 100px;
    font-size: 18px;
    padding-bottom: 10px;
}
.non5 p{
    margin-left: 25px;
    margin-right: 100px;
    font-size: 18px;
    padding-bottom: 10px;
}
.con{
    padding: 15px 0px 35px 0px;
}
.con h2{
    text-align: center;
    font-size: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #0b3886;
}
.con p{
    margin-left: 150px;
    margin-right: 150px;
    font-size: 18px;
    padding-bottom: 50px;
}
.location{
    display: flex;
    margin-left: 100px;
}
.loca1{
    border: 1px solid;
    margin-left: 100px;
    padding: 60px 30px 80px 27px;
}
.loca2{
    border: 1px solid;
    margin-left: 90px;
    padding: 60px 30px 80px 15px;
}
.loca1 h4{
    font-size: 20px;
    color: #37517e;
    padding-top: 20px;
    padding-bottom: 10px;
}
.arun{
    display: flex;
    margin-left: -10px;
}
.input1{
margin: 0px 0px 0px 0px;
}
.input2{
    margin: 0px 0px 0px 0px;
}
.input3{
    margin: 0px 0px 0px 0px;
}
.input4{
    margin: 0px 0px 0px 0px;
}
.sand button{
   margin: 158px 0px 0px 218px;
    font-size: 23px;
    border-radius: 30px;
    background-color: #37517e;
    color: #fff;
}
.join0{
background-color: #f3f5fa;
}
.join h3{
    text-align: center;
    padding: 30px 0px 19px 0px;
    font-size: 30px;
    color: #0b3886;
}
.join p{
    margin: 0px 0px 0px  429px;
}
.join1{
    width: 40%;
    background-color: #cccccc;
    padding: 20px 0px 15px 2px;
    margin: 25px 0px 0px 283px;
}
.join3{
    display: flex;
}
.join button{
    margin: 23px 0px 0px -10px;
    font-size: 20px;
    border-radius: 18px;
    background-color: blue;
    color: #fff;
    border-bottom-color: #fff;
    border-color: #fff;
}
.arsha0{
    display: flex;
    padding-top: 50px;
    border: 1px solid;
    margin-top: 50px;
    padding-bottom: 60px;
    background-color: #fff;
}
.arsha{
    margin: 0px 30px 0px 50px;
}
.arsha h3{
    font-size: 20px;
    color: #0b3886;
    padding: 0px 0px 13px 0px;
}
.arsha h4{
    font-size: 17px;
    padding-top: 7px;
}
.arsha h5{
    margin: 10px;
    font-size: 18px;
}
.arsha1{
    margin: 0px 30px 0px 50px;
}
.arsha1 h3{
    font-size:20px;
    padding-bottom: 20px;
    color: #37517e;
}
.arsha1 h6{
    font-size: 18px;
    line-height: 35px;
}
.arsha2{
    margin: 0px 30px 0px 50px;
}
.arsha2 h3{
    font-size:20px;
    padding-bottom: 20px;
    color: #37517e;
}
.arsha2 h6{
    font-size: 18px;
    line-height: 35px;
}
.arsha3{
    margin: 0px 30px 0px 50px;
}
.arsha3 h3{
    font-size:20px;
    padding-bottom: 20px;
    color: #37517e;
}
.arsha3 p{
    font-size: 18px;
   margin-right: 191px;
}
.ifont{
    font-size: 23px;
    word-spacing: 10px;
    padding-top: 20px;
    margin: 0px 0px 0px 167px
}
.footer{
    display: flex;
  background-color: #37517e;
  padding: 40px 0px 40px 0px;
}
.copy{
    color: #fff;
    font-size: 20px;
}
.copy1{
    color: #fff;
    font-size: 18px;
}
.copy2{
    margin-left: 717px;
    color: #fff;
    font-size: 18px;
}
.copy2 a{
    color: blue;
    font-size: 20px;
}